<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
    	var socket = io.connect('http://localhost:3000');
      var connected = false;
      var username = '';

      socket.on('connect', function(){
        
      });

      socket.on('newUserList', function(data){
        $(".connectedUsers").html('');
        $.each(data.userList, function(i, user){
          $(".connectedUsers").append("<div id='"+user+"'>"+user+"</div>");
        });
      });

      socket.on('updateUserList', function(data){
    
        if(data.connectionType ==  'add'){
          $(".connectedUsers").append("<div id='"+data.user+"'>"+data.user+"</div>");
        } else {
          $("#"+data.user).remove();
        }
      });

      socket.on('sendQuestions', function(data){
        
        console.log(data);
        
      });

      $(document).ready(function(){
        $('#btnJoin').on('click', function(){
          var username = prompt("Username please");
          if(username !=''){
            socket.emit('addUser', username);
            connected = true;
          } else {
            alert("USERNAME PLEASE!");
          }
        });
      });

    </script>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='span12'>
          <h1>Quiz Node</h1>
        </div>
      </div>
      <div class='row'>
        <div class='span4'>
          <div class='well'>
            <h3>Players</h3>
            <div class='connectedUsers'>

            </div>
          </div>
        </div>
        <div class='span8'>
          <div class='hero-unit'>
            <h2>Welcome to Quiz Node</h2>
            <p>
              Let's see if your gooder then your co-worker at answering random questions with random bogus answers!
            </p>
            <button id='btnJoin' class='btn btn-primary'>Start the Quiz</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>